<mat-toolbar class="menu" role="header" color="primary">
  <mat-toolbar-row>
    <button mat-button class="toolbar__icon-button mat-button">
      <mat-icon>web</mat-icon>
      <span style="margin-left: 7px;">WEB 425</span>
    </button>
    <button class="mat-button">
      About
    </button>
    <button class="mat-button">
      Contact Us
    </button>

    <div fxFlex></div>

    <button 
      class="toolbar__icon-button"
      [matMenuTriggerFor]="menu"
      mat-icon-button
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>perm_contact_calendar</mat-icon>
        <span>My Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened class="sidenav"></mat-sidenav>
  <mat-sidenav-content class="main-content">
    <input type="text" placeholder="Enter stock (e.g. AAPL)" (change)="onChangeEvent($event)" />
    <app-order [stockSymbol]="stock" [quantity]="numberOfShares"></app-order>
  </mat-sidenav-content>
</mat-sidenav-container>