<mat-toolbar class="menu" role="header" color="primary">
  <mat-toolbar-row>
    <button mat-button class="toolbar__icon-button mat-button">
      <mat-icon>web</mat-icon>
      <span style="margin-left: 5px;">WEB 425</span>
    </button>
    <a class="mat-button" [routerLink]="['/']">Home</a>
    <a class="mat-button" [routerLink]="['/login']">Login</a>

    <div fxFlex></div>

    <button 
      class="toolbar__icon-button"
      [matMenuTriggerFor]="menu"
      mat-icon-button
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>perm_contact_calendar</mat-icon>
        <span>My Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row" class="parent">
  <div fxFlex="33" class="left">

  </div>
  <div fxFlex="67" class="right">
    <router-outlet></router-outlet>
  </div>
</div>