.frm-login {
    width: 100%;
}

.frm-login-panel {
    border: 1px solid grey;
}

.frm-login-header {
    background-color: darkgreen;
}

.frm-login-toolbar {
    background-color: darkgreen;
    color: white;
}

.frm-login-body {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.btn-login {
    background-color: lightgreen;
    color: black;
}

.frm-login-actions {
    text-align: right;
}